.navbar-dark .navbar-nav .nav-link {
  color:#a64600;
  font-size:24px;
  font-family:fantasy;
  padding-right:20px;
}

.icon.ion-ios-basketball {
  color:#ff7b00;
  font-size:40px;
}

.upcoming {
  background-image:linear-gradient(to right, rgba(221,83,207,0.6) , rgb(158,225,183));
}

.middle {
  background-image:linear-gradient(rgb(143,204,255) , rgb(146,254,51));
}

